
body{
 
  background-image: url(/Imagenes/calpheon.png);
  background-attachment: fixed;
  background-size:cover ;
  background-repeat: no-repeat;
  display: inherit;
  color: white;
  
}
footer {   
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
.pageContent {
    background: rgba(0, 5, 4, 0.8);
    color: #fff;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.pageWidth {
    border-radius: 50px;
    color: #fff;
    top: 60%;
    left: 20%;
    box-sizing: border-box;
}
.card-border{
    border: solid 10px #ffffff ;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
 .slide{
     margin-top: 10px;

 }
.slide img{
    height: 290px;

}
.dropdown-menu{
    background-color: #6c757d;
   
  }
.dropdown-menu a:hover{
    background-color: #6c757d;
    
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }